    .container{
      display:grid;
      grid-template-columns:1fr 3fr 1fr;
      grid-template-rows: 130px 1fr;
    }
    .grid_1_name{
      border-bottom:2.5px solid black;
      text-align:center;
      padding-top:10%;
      padding-bottom:10%;
    }
    #grid_2_home{
      border-bottom:2.5px solid black;
      text-align:center;
    }
    .grid_3_topmenu{
      border-bottom:2.5px solid black;
      line-height:400%;
      text-align:left;
      padding:10px;
    }
    .grid_4_menu{
      border-right:2.5px solid black;
      text-align:center;
    }
    .grid_4_saw{
      text-align:center;
      text-decoration:none;
      font-size:20px;
      color:black;
      line-height:200%;
    }
    .grid_5_article{
      border-right:2.5px solid black;
      padding-top:20px;
      padding-left:20px;
      padding-right:20px;
    }
    table,th,td{
      border:1.5px solid black;
      border-collapse: collapse;
      padding:5px;
      column-width:1fr 1fr 1fr;
    }
    th{
      height:100%
    }
    .item{
      width:100%;
    }
    .shop{
      text-align:center;
      object-fit:cover;
    }
    .grid_5_h2{
      text-decoration:none;
      color:black;
    }